body, html {
  margin: 0;
  padding: 0;
  background-color: RGB(114, 104, 84);
  height: 100%;
}

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
  
  .home-header {
    padding-top: 80px !important;
  }
  
  .home-content {
    padding: 5rem 2rem !important;
    text-align: left;

  }
  
  .heading {
    font-size: 70px !important;
    padding-left: 50px !important;
    color: #ffffff;
  }
  
  .heading-name {
    font-size: 5em !important;
    padding-left: 45px !important;
  }
  
  .main-name {
    color: var(--clr-primary) !important;
  } 

  .greeting-button{
    margin: 3rem;
    width: 100px;
    border: none !important;
    background-color: #d4cfc2 !important;
    transition: background-color 0.3s ease, transform 0.3s ease !important;
    color: black !important;
  }

  .greeting-button:hover {
    background-color: rgba(140, 118, 64, 0.8) !important;;
    transform: translateY(-5px) !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important;
}
  .image-button {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
  }

  .greating-text {
    font-size: 1.5em !important;
    padding-left: 50px !important;
    color: #ffffff;
  }
  
  .Typewriter__wrapper {
    font-size: 2em !important;
    color: var(--clr-primary) !important;
    font-weight: 600 !important;
    padding-left: 25px;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: var(--clr-primary) !important;
  }
  
  @media (max-width: 991px) {
    .heading {
      font-size: 2.3em !important;
      padding-left: 0px !important;
      text-align: left !important;
    }
  
    .heading-name {
      font-size: 4em !important;
      padding-left: 0px !important;
      text-align: left !important;
    }

    .Typewriter__wrapper {
      font-size: 1.3em !important;
      padding: 0px !important;
    }
    .Typewriter__cursor {
      font-size: 1.5em !important;
    }
  }
  @media (max-width: 767px) {
    .heading {
      font-size: 2.2em !important;
      padding-left: 20px !important;
      text-align: left !important;
    }
  
    .heading-name {
      font-size: 3em !important;
      padding-left: 20px !important;
      text-align: left !important;
    }
    .type{
      text-align: left !important;
    }
    .Typewriter__wrapper {
      text-align: center !important;
      font-size: 1.2em !important;
      font-weight: 400 !important;
      position: absolute;
    }
  
    .Typewriter__cursor {
      display: none !important;
    }
  }
